{
  "canBookmark" : false,
  "bookmarkName" : "Dimensional Corn Teleporter",
  "includePartyMembers" : false,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "enter corn",
      "planetName" : "corn dimension",
      "warpAction" : "InstanceWorld:cornworld",
      "icon" : "corn"
    }
  ]
}
